@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
h1{
    text-align:center;
}
section{
    display: flex;
    flex-wrap: wrap;
    margin-inline:60px;
}
.card{
    width:320px;
    background-color:black;
    color:white;
    text-align: center;
    margin:20px;
    padding:10px;
}